
.cmp-banner-blue {
    color: blue;
}

.cmp-banner-green {
    color: green;
}
    .gfg {
        filter: blur(5px);
        width: 100%;
    }

    /* designing title and tag line */
    .logoBanner {
        text-align:center;
        position: absolute;
        font-size: 18px;
        top: 50px;
        left: 27%;
        color: white;
    }
    .bannerStyle {
        border: 4px solid white;
        padding: 10px 50px;
        position: relative;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
    h1:hover {
        background: -webkit-linear-gradient( green, lime);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    /* Designing button */
    .logoBanner button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 10px 25px;
        color: black;
        background-color: #ddd;
        text-align: center;
        cursor: pointer
    }
    .logoBanner button:hover {
        background-color: green;
        color: white;
    }
